<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
 <style>
   body{
     background:url('{{ url_for('static', filename='images/imagen.jpg') }}');
   }
 </style>

  </head>
  <body>

    <div class="container">
        <div class="abs-center">
          <form class="border p-3 form" action="\register" method="post">
            <h1>Registrarse</h1>
            <div class="contenedor">
              <div class="input-contenedor">
                <i class="fas fa-user icon"></i>
                <input type="text" placeholder="Nombre de Usuario" name="username">
              </div>
              <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Password" name="password">
              </div>
              <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="Confirmar Password" name="confirmation">
              </div>
            <input type="submit" value="Registrate" class="button">

              <p>Al registrate, aceptas nuestras Condiciones de uso y Politica de privacidad.</p>
              <p>Ya tienes una cuentas?<a class="link"href="\login">Login</a></p>
            </div>
          </form>
        </div>
      </div>

  </body>
</html>
